.background {
  background-image: url('/images/starry_sky_background.gif');
  background-repeat: round;
  border-spacing: 0;
}

.background td {
  padding: 0;
}

#score {
  position: absolute;
  margin-left: 60%;
  margin-top: 20px;
  color: red;
  font-size: 2em;
  font-family: 'Lakki Reddy', monospace;
  z-index: 3;
}

.lava {
  background-image: url('/images/lava.gif');
  background-size: cover;
}

.actor.lava {
  border-radius: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 15px;
  transform: rotate(-45deg);
}

.wall {
  background-image: url('/images/B100M801.BMP');
  background-size: cover;
}

.actor {
  position: absolute;
}

.wall {
  box-shadow: 2px 2px 3px black;
  border-radius: 10px;
}

.coin {
  background: rgb(241, 229, 89);
  background-image: url('/images/gold_marble.gif');
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  border: 1px outset yellow;

}

.player {
  background-image: url('./images/all_gnomes.png');
  background-size: 130px;
  background-position: -7px -0px;
  transform:rotateY(180deg);

}

.lost .player {
  background: rgb(160, 64, 64);
}

.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

.game {
  overflow: hidden;
  width: 1000px;
  height: 700px;
  position: relative;
  border: 7px ridge lightgray;
}
