#startScreen {
  position: absolute;
  border: 7px ridge lightgray;
  height: 700px;
  width: 1000px;
  background: linear-gradient(to bottom right, blue, red);
}
#startScreen h1 {
  margin: 0px;
  margin-left: 10%;
  margin-bottom: 0px;
  font-family: 'Lakki Reddy', monospace;
  font-size: 70px;
  color: red;
  text-shadow: 0px 0px 3px white;
}
#startScreen h2 {
  margin-left: 10%;
  margin-bottom: 0px;
  color: lightgrey;
  font-family: sans-serif, monospace;
  font-size: 25px;
  font-weight: bolder;
}
#startScreen p {
  margin-left: 10%;
  margin-top: 0px;
  margin-bottom: 30px;
  color: lightgrey;
  font-family: sans-serif, monospace;
  font-size: 20px;
  line-height: 30px;
}
#startScreen ul li {
  margin-left: 10%;
  margin-bottom: 30px;
  list-style: none;
  color: yellow;
  font-family: sans-serif, monospace;
  font-size: 25px;
}
#startScreen ul li .seed {
  display: inline-block;
  margin-bottom: -15px;
  height: 40px;
  width: 30px;
  background: rgb(241, 229, 89);
  background-image: url('/images/gold_marble.gif');
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  border: 1px outset yellow;
}
#startScreen ul li i {
  color: white;
}
#startButton {
  margin-left: 10%;
  height: 90px;
  width: 600px;
  font-size: 40px;
  font-family: monospace;
  color: white;
  background-color: blue;
  border-width: 5px;
  border-radius: 20px;
  outline: none;
}
#startButton:hover {
  cursor: pointer;
}
.background {
    background-size: cover;
    background-repeat: no-repeat;
    border-spacing: 0;
}
.background0 {
    background-image: url('/images/beach-bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    border-spacing: 0;
}
.background1 {
    background-image: url('/images/forest-bg.jpeg');
    background-position: bottom;
    background-size: cover;
}
.background2 {
    background-image: url('/images/city-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-spacing: 0;
}
.background3 {
    background-image: url('/images/scary-bg.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    border-spacing: 0;
}
.background4 {
    background-image: url('/images/sixties-bg.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    border-spacing: 0;
}

.background td {
    padding: 0;
}
#score {
    display: none;
    position: absolute;
    margin-left: 10%;
    margin-top: 30px;
    color: red;
    font-size: 2em;
    font-family: 'Lakki Reddy', monospace;
    text-shadow: 0px 0px 3px white;
    z-index: 3;
}
.lava {
    background-image: url('/images/bg0/hazard/hazard0.gif');
    background-size: cover;
}
.lava0 {
    background-image: url('/images/bg0/hazard/hazard0.gif');
    background-size: cover;
}
.lava1 {
    background-image: url('/images/bg1/hazard/hazard1.gif');
    background-size: cover;
}
.lava2 {
    background-image: url('/images/bg2/hazard/hazard2.gif');
    box-shadow: 0px 0px 8px 3px green;
    background-size: cover;
}
.lava3 {
    background-image: url('/images/bg3/hazard/hazard3.gif');
    box-shadow: 0px 0px 8px 3px red;
    background-size: cover;
}
.lava4 {
    background-image: url('/images/bg4/hazard/hazard4.gif');
    background-size: cover;
}

.actor.lava {
    border-radius: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transform: rotate(-45deg);
}
.wall {
    background-size: cover;
}
.actor {
    position: absolute;
}
.wall {
    box-shadow: 2px 2px 3px black;
    border-radius: 10px;
}
.coin {
    background: rgb(241, 229, 89);
    background-image: url('/images/gold_marble.gif');
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    border: 1px outset yellow;
}
.player {
    background-image: url('./images/all_gnomes.png');
    background-size: 130px;
    /*background-position: -95px 257px;*/
    /*take a step */
    /*background-position: -51px 260px;*/
    /*lifts arms up*/
    background-position: -7px 86px;
    /* standing still */
    transform: rotateY(180deg);
}
.lookLeft {
    background-position: -6px 0px;
    transform: rotateY(0deg);
}
.lookRight {
    background-position: -6px 0px;
    transform: rotateY(180deg);
}
.playerStep {
    background-position: -91px 258px;
    /*take a step*/
}
.lost .player {
    background: rgb(160, 64, 64);
}
.won .player {
    box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
.game {
    overflow: hidden;
    width: 1000px;
    height: 700px;
    position: relative;
    border: 7px ridge lightgray;
}
